{% extends "base.html" %}

{% block content %}
    <h1>Enter query</h1>
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
        <p>
            {{ form.city.label }}<br>
            {{ form.city()}}
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date_from.label }}<br>
            {{ form.date_from() }}
        </p>
        <p>
            {{ form.date_to.label }}<br>
            {{ form.date_to() }}
        </p>

        Date cases:
        <ul>
            <li>Both fields empty - current date will be used
                (prediction for next ~24 hours)</li>
            <li>Both fields filled - will use date range [date_from, date_to]
                (inclusive on both sides)</li>
            <li>Only first or only second field filled - only date from that
                field will be used (prediction for ~24 hours since that date)
            </li>
        </ul>

        <a href="https://developers.google.com/maps/documentation/geocoding/">
            (powered by Google Geocoding API)
        </a><br>
        <a href="https://darksky.net/poweredby/">
            (powered by Dark Sky)
        </a><br>
        <a href="https://stormglass.io/">
            (powered by Storm Glass)
        </a>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}